body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.hide {
    display: none;
}